@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    url("assets/fonts/montserrat-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src:
    url("assets/fonts/montserrat-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    url("assets/fonts/montserrat-cyrillic-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src:
    url("assets/fonts/montserrat-cyrillic-bold.woff2") format("woff2");
}